/* prevent problems with different browsers*/
* {box-sizing: border-box;}

body {
    font-family: "bryant-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

/*Header Stuff Here*/
header {
    background-color: #371F7C;
    background-image: linear-gradient(to bottom, #180748, #371F7C);
    padding: 1rem 2vw;
    text-align: left;
    display: flex;
}

header div{
    padding-left: 1vw;    
}

header h1 {
    margin: 0;
    color: #DFDFE1;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
}
header p {
    margin: 0;
    color: #DFDFE1;
    letter-spacing: .5px;
    font-family: "bryant-web", sans-serif;
    font-weight: 400;
}

/*nav stuff goes here*/

/*small screens*/
@media only screen and (max-width: 800px) {
nav {
    background-color: #DFDFE1;
    font-family: "bryant-web", sans-serif;
    font-weight: 400;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: block;
}
nav a {
    display: block;
    padding: .8rem;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: #101312;
    font-weight: 700;
    display: block;
}
 nav .active a {
        background-color: #371F7C;
        color: #DFDFE1;
}    
nav a:hover {
    color: #D8A600;
}
}/*end of small screens*/


/*BIG SCREENS*/
@media only screen and (min-width: 801px) {
nav {
    background-color: #DFDFE1;
    font-family: "bryant-web", sans-serif;
    font-weight: 400;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #101312;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav .active a {
    border-bottom: solid 2px #371F7C;
}
nav a:hover {
    color: #D8A600;
}
}/*end of BIG SCREENS*/

/*stuff for the main*/
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #371F7C;
    font-size: 2.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
}

main h2 {
    color: #371F7C;
    font-size: 2rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h3 {
    color: #371F7C;
    font-size: 2rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h4 {
    color: #371F7C;
    font-size: 1.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h5 {
    color: #371F7C;
    font-size: 1.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-bottom: .2rem;
}

main p {
    color: #101312;
    margin: 0 0 .3rem 0;
}

mail ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #D8A600;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 1rem;
}

main dl dd {
    font-size: .9rem;
}
main ul {
    list-style-type: square;
}

main ul li {
    line-height: 110%;
    margin-bottom: .4rem;
    font-size: 1rem;
}

main a {
    text-decoration: none;
    color: #371F7C;
}

main a:hover {
    color: #D8A600;
}

figure.home-image {
    width: 30%;
    margin: 0 0 0 2%;
    float: right; 
    color: #D8A600;
    clear:both
}

figure.home-image img {
    width:100%;
    height: auto;
}

figure.home-image figcaption {
    text-align: center;
    font-size: .75rem; 
}

.herdinghero {
    width: 100%;
    margin: 0;
}
.herdinghero img {
    width: 100%;
    height: auto;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #371F7C;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

div.top {
    font-style: normal;
    background-color: #DFDFE1;
    padding: .5rem;
    width: 6.8rem;
    border: 1px solid #D8A600;
    border-radius: .5rem;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

div.top a {
    font-size: 1rem;
    text-decoration: none;
    color: #371F7C;
    font-weight: 300;
    display: block;
}

div.top a:hover {
    color: #D8A600;
}

.myQuestions fieldset {
    border: 1.5px solid #D8A600;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myQuestions legend {
    color: #371F7C;
    font-size: 1rem;
}

.myQuestions label {
    margin: .5rem;
}

.myQuestions label, .myQuestions select, .myQuestions [type=text], .myQuestions [type=tel], .myQuestions [type=email], .myQuestions textarea {
    display: block;
}

.myQuestions [type=text],  .myQuestions [type=tel], .myQuestions select, .myQuestions [type=email], .myQuestions textarea {
    border: solid 1px #101312;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "bryant-web", sans-serif;
    font-weight: 300;
}

.myQuestions textarea {
    height: 4rem;
}

.myQuestions :required {
    background-color: rgba(216, 166, 0, 0.05);
}

.myQuestions [type=submit] {
    background-color: #371F7C;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #DFDFE1;
    margin: 1rem 0 0 1vw;
    font-size: 1rem;
}

main p.tablep {
    padding: .3rem 0vw;
}

table.dog-sports {
    width: 100%;
    border-collapse: collapse;
}

table.dog-sports th {
    background-color: #371F7C;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.dog-sports td {
    color: #371F7C;
    padding: .4rem 2vw;
}

table.dog-sports tr:nth-child(odd) {
    background-color: #f7f7f7;
}

table.dog-sports tr:hover {
    background-color: rgba(216,166,0,0.1);
}

main p.brochure {
    padding: 1.5rem 0vw;
}


/*footer stuff here*/
footer {
    background-color: #DFDFE1;
    text-align: center;
    color: #101312;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #371F7C;
}



header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}