body {
    font-family: "bryant-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

/*Header Stuff Here*/
header {
    background-color: #371F7C;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #DFDFE1;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
}
header p {
    margin: 0;
    color: #DFDFE1;
    letter-spacing: .5px;
    font-family: "bryant-web", sans-serif;
    font-weight: 400;
}

/*nav stuff goes here*/
nav {
    background-color: #DFDFE1;
    font-family: "bryant-web", sans-serif;
    font-weight: 400;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #101312;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav a:hover {
    color: #D8A600;
}

/*stuff for the main*/
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #371F7C;
    font-size: 2.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
}

main h2 {
    color: #371F7C;
    font-size: 2rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h3 {
    color: #371F7C;
    font-size: 2rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h4 {
    color: #371F7C;
    font-size: 1.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-top: 2.8rem;
    margin-bottom: .2rem;
}

main h5 {
    color: #371F7C;
    font-size: 1.5rem;
    font-family: "bryant-web-alternate", sans-serif; 
    font-weight: 500;
    margin-bottom: .2rem;
}

main p {
    color: #101312;
    margin: 0 0 .3rem 0;
}

mail ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #D8A600;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 1rem;
}

main dl dd {
    font-size: .9rem;
}
main ul {
    list-style-type: square;
}

main ul li {
    line-height: 110%;
    margin-bottom: .4rem;
    font-size: 1rem;
}

main a {
    text-decoration: none;
    color: #371F7C;
}

main a:hover {
    color: #D8A600;
}

figure.home-image {
    width: 30%;
    margin: 0 0 0 2%;
    float: right; 
    color: #D8A600;
    clear:both
}

figure.home-image img {
    width:100%;
    height: auto;
}

figure.home-image figcaption {
    text-align: center;
    font-size: .75rem; 
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #371F7C;
}

div.top {
    font-style: normal;
    background-color: #DFDFE1;
    padding: .5rem;
    width: 6.8rem;
    border: 1px solid #D8A600;
    border-radius: .5rem;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

div.top a {
    font-size: 1rem;
    text-decoration: none;
    color: #371F7C;
    font-weight: 300;
    display: block;
}

div.top a:hover {
    color: #D8A600;
}

/*footer stuff here*/
footer {
    background-color: #DFDFE1;
    text-align: center;
    color: #101312;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #371F7C;
}